{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class="row" style="min-width: 480px;">
    {% for product in products %}
    <div class="col-lg-4 col-md-6">
        <img class="thumbnail" src="{{ product.imageURL }}">
        <div class="box-element product">
            <h6><strong>{{product.name}}</strong></h6>
            <h4><strong>${{product.price|floatformat:2}}</strong></h4>
            <hr>
            <div class="row" style="margin-top: 10px;">
                <div class="col-6">
                    <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart" style="width: 100%;">Add to Cart</button>
                </div>
                <div class="col-6">
                    <a class="btn btn-outline-success" style="width: 100%;" href="#">View</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}